body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
  input:active, input:focus, input:hover{
    outline:0px !important;
    -webkit-appearance:none;
  }
  input {
    padding:10px;
    border-radius: 4px;
    min-height: 150px;
    min-width: 300px;
  }
  .ml-5{
      margin-left:5px;
  }
  .icon-thumb{
      height: 65px;
      width: 65px;
  }